spring:
  application:
    name: herbal-index-backend
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/herbal
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
